@font-face {
    font-family: 'alarmclock';
    src: url('../fonts/alarmclock.woff') format('woff'),
        url('../fonts/alarmclock.ttf') format('truetype'),
        url('../fonts/alarm clock.eot'),
        url('../fonts/alarmclock.svg#alarmclock') format('svg'),
        url('../fonts/alarm clock.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrian';
    src: url('../fonts/Questrian.eot');
    src: url('../fonts/Questrian.woff') format('woff'),
        url('../fonts/Questrian.ttf') format('truetype'),
        url('../fonts/Questrian.svg#Questrian') format('svg'),
        url('../fonts/Questrian.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}